NODE_ENV=
PORT=
HOST=
CORS_ORIGIN=
DATABASE_URL=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

SESSION_SECRET=

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=